Evo = typeof Evo !== 'undefined' ? Evo : typeof window !== 'undefined' ? window : typeof global !== 'undefined' ? global : {};
(function (exports) {
    exports = typeof exports !== 'undefined' ? exports : {};
